<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.ouneno.somerset.service.board.BoardDao">

	<resultMap id="boardMapper" type="board">
		<result property="boardNo" 			column="BOARD_NO" 			jdbcType="NUMERIC"/>
		<result property="boardCategory" 	column="BOARD_CATEGORY" 	jdbcType="CHAR"/>
		<result property="boardTitle" 		column="BOARD_TITLE" 		jdbcType="VARCHAR"/>
		<result property="boardContent" 	column="BOARD_CONTENT" 		jdbcType="VARCHAR"/>
		<result property="boardTime"		column="BOARD_TIME"			jdbcType="TIMESTAMP"/>
	</resultMap>
	
	<!-- addBoard -->
	<insert id="addBoard"			useGeneratedKeys="true"		keyProperty="boardNo">
		INSERT INTO
			board	( BOARD_CATEGORY, BOARD_TITLE, BOARD_CONTENT, BOARD_TIME )
		VALUES
					( #{boardCategory}, #{boardTitle}, #{boardContent}, now() )
	</insert>	
	
	<!-- updateBoard -->
	<update id="updateBoard"		parameterType="board">
		UPDATE
			board
		<set>
				BOARD_TITLE = #{boardTitle}
			,	BOARD_CONTENT = #{boardContent}
		</set>
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<!-- deleteBoard -->
	<delete id="deleteBoard"		parameterType="int">
		DELETE
		FROM
			board
		WHERE
			BOARD_NO = #{boardNo}
	</delete>
	
	<!-- getBoardDetail -->
	<select id="getBoardDetail"		parameterType="int" 	resultMap="boardMapper">
		SELECT
				BOARD_NO
			,	BOARD_TITLE
			,	BOARD_CONTENT
			,	BOARD_TIME
		FROM board
		WHERE BOARD_NO = #{boardNo}
	</select>
	
	<!-- getBoardList -->
	<select id="getBoardList"		parameterType="int"		resultMap="boardMapper">
		SELECT
				BOARD_NO
			,	BOARD_TITLE
			,	BOARD_TIME
		FROM board
		WHERE BOARD_CATEGORY = #{boardCategory}
	</select>
	
	<!-- time split/Parsing 관련 연습 -->
	<select id="getTime"			parameterType="int"		resultMap="boardMapper">
		SELECT
				BOARD_NO
			,	BOARD_TIME
		FROM board
		WHERE BOARD_NO = #{boardNo}
	</select>
	
	
</mapper>