<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.ouneno.somerset.service.board.BoardDao">

	<resultMap id="boardMapper" type="board">
		<result property="boardNo" 			column="BOARD_NO" 			jdbcType="NUMERIC"/>
		<result property="boardCategory" 	column="BOARD_CATEGORY" 	jdbcType="CHAR"/>
		<result property="boardTitle" 		column="BOARD_TITLE" 		jdbcType="VARCHAR"/>
		<result property="boardContent" 	column="BOARD_CONTENT" 		jdbcType="VARCHAR"/>
		<result property="boardTime"		column="BOARD_TIME"			jdbcType="TIMESTAMP"/>
	</resultMap>
	
	<!-- addBoard -->
	<insert id="addBoard"			useGeneratedKeys="true"		keyProperty="boardNo">
		INSERT INTO
			board	( BOARD_CATEGORY, BOARD_TITLE, BOARD_CONTENT, BOARD_TIME )
		VALUES
					( #{boardCategory}, #{boardTitle}, #{boardContent}, now() )
	</insert>	
	
	<!-- updateBoard -->
	<update id="updateBoard"		parameterType="board">
		UPDATE
			board
		<set>
				BOARD_TITLE = #{boardTitle}
			,	BOARD_CONTENT = #{boardContent}
		</set>
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<!-- deleteBoard -->
	<delete id="deleteBoard"		parameterType="int">
		DELETE
		FROM
			board
		WHERE
			BOARD_NO = #{boardNo}
	</delete>
	
	<!-- getBoardDetail -->
	<select id="getBoardDetail"		parameterType="int" 	resultMap="boardMapper">
		SELECT
				BOARD_NO
			,	BOARD_TITLE
			,	BOARD_CONTENT
			,	BOARD_TIME
		FROM board
		WHERE BOARD_NO = #{boardNo}
	</select>
	
	<!-- getBoardList -->
	<!-- Category 지정가능 / skip과 amount : 페이징(최소, 최대) / ROWNUM : 0부터 시작 / LIMIT : 10개씩 조회 -->
	<select id="getBoardList" 	parameterType="int"		resultMap="boardMapper">
		SELECT 	
			@ROWNUM := @ROWNUM+1 AS Number, board.*
		FROM 	
				board 
			, category
			, ( SELECT @ROWNUM := 0 ) N
		WHERE
				BOARD.BOARD_CATEGORY = #{boardCategory}
			AND 
				CATEGORY.CTG_NUM = #{boardCategory}
			AND 
				(@ROWNUM := 0)=0
		ORDER BY 
				BOARD_NO DESC
		LIMIT
				#{skip}, #{amount}
	</select>
	
	<!-- 전체 게시글 개수 -->
	<!-- getTotalBoard -->
	<select id="getTotalBoard"		resultType="int">
		SELECT
			count(*)
		FROM
			board
		WHERE 
			BOARD_CATEGORY = #{boardCategory}
	</select>
	
	<!-- ROWNUM / 카테고리별 게시글 10개씩 인덱스 -->
	<select id="rownum">
		SELECT
			@ROWNUM := @ROWNUM+1 Num, board.*
		FROM
			board ( SELECT @ROWNUM := 0 ) ROWNUM
		WHERE
			BOARD_NO between 1 and 10
			AND
			BOARD_CATEGORY = #{boardCategory}
	</select>
	<!-- 
	select @rownum := @rownum+1 Num, board.*
	from board,
	(select @rownum := 0) rownum
	WHERE board_no between 1 and 10 AND board_category = 1;
	 -->
	
	<!-- LIMIT / 카테고리 별 게시글 10개씩 제한걸어서 인덱스 --> 
	<select id="limit">	
		SELECT
			BOARD_NO, BOARD_TITLE, BOARD_CONTENT, BOARD_TIME
		FROM board
		ORDER BY BOARD_NO ASC
		LIMIT 0, 10
	</select>
	 <!-- 
	select board_no, board_title, board_content
	from board order by board_no asc
	limit 0, 10;
	  -->

	<!-- time split/Parsing 관련 연습 -->
	<select id="getTime"			parameterType="int"		resultMap="boardMapper">
		SELECT
				BOARD_NO
			,	BOARD_TIME
		FROM board
		WHERE BOARD_NO = #{boardNo}
	</select>
	
	
</mapper>