<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.ouneno.somerset.service.user.UserDao">
	<resultMap id="userMapper" type="user">
		<result property="userId" 			column="USER_ID" 		jdbcType="VARCHAR"/>
		<result property="userPwd" 			column="USER_PWD" 		jdbcType="VARCHAR"/>
		<result property="userNickname" 	column="USER_NICKNAME" 	jdbcType="VARCHAR"/>
		<result property="userEmail" 		column="USER_EMAIL" 	jdbcType="VARCHAR"/> 
		<result property="userPhone" 		column="USER_PHONE" 	jdbcType="VARCHAR"/> 			
	</resultMap>
	
	<!-- 회원가입 -->
	<select id="addUser"		parameterType="User">	
		INSERT INTO
			user 	( USER_ID, USER_PWD, USER_NICKNAME, USER_EMAIL, USER_PHONE )
		VALUES
					( #{userId}, #{userPwd}, #{userNickname}, #{userEmail}, #{userPhone} )
	</select>
	
	<select id="login"	parameterType="User" resultMap="userMapper">
	SELECT
		USER_ID, USER_PWD, USER_NICKNAME, USER_EMAIL, USER_PHONE
	FROM user
	WHERE
		USER_ID = #{userId}
	</select>

	<!-- 유효성검사 -->
	<select id="findValidate"	parameterType="User" resultType="int">
		SELECT count(*)	
		FROM user
		WHERE
			<if test="type==1">
				USER_NICKNAME = #{user.userNickname}
			</if>
			<if test="type==2">
				USER_ID = #{user.userId}
			</if>
			<if test="type==3">
				USER_EMAIL = #{user.userEmail}
			</if>
	</select>
	
	<select id="getUser"	parameterType="User"	resultMap="userMapper">
		SELECT
			USER_ID
		FROM user
		WHERE
			USER_ID = #{userId}
	</select>
</mapper>