<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.ouneno.mybook.service.user.UserDao">

	<resultMap id="userMapper" type="user">
		<result property="userId" 			column="USER_ID" 			jdbcType="NUMERIC"/>
		<result property="userFrsNm" 		column="USER_FRS_NM" 		jdbcType="VARCHAR"/>
		<result property="userLasNm" 		column="USER_LAS_NM" 		jdbcType="VARCHAR"/>
		<result property="userEmail" 		column="USER_EMAIL" 		jdbcType="VARCHAR" /> 
		<result property="userPhone" 		column="USER_PHONE" 		jdbcType="VARCHAR" /> 
		<result property="userPwd"			column="USER_PWD" 			jdbcType="VARCHAR" />
		<result property="userPwdCk"		column="USER_PWD_CK" 		jdbcType="VARCHAR" />
		
		
	</resultMap>
	
	<!-- 회원가입 -->
	<select id="addUser"		parameterType="User">	
		INSERT INTO
			user ( USER_ID, USER_NAME, USER_EMAIL, USER_PHONE )
		VALUES
					( #{userId}, #{userName}, #{userEmail}, #{userPhone} )
	</select>
	
	<!-- 게시판 목록 조회 -->
	<!-- <select id="getProduct"		parameterType="product"  resultType="hashMap">	
		SELECT 
				PROD_NO
			, PROD_NAME
			, PROD_DETAIL
			, PROD_PRICE 
		FROM product
		ORDER BY PROD_NO
	</select> -->
	
	<!-- 상품조회 -->
	<!-- <select id="getProductList"	parameterType="int" resultMap="productMapper">	
		SELECT 
				PROD_NO
			, PROD_NAME 
			, PROD_DETAIL
			, PROD_PRICE 
		FROM product
		WHERE PROD_NO = #{prodNo}
	</select> -->
		
	<!-- 상품수정 -->
	<!-- <update id="updateProduct"	parameterType="product">
		UPDATE 
			product
		<set>
			PROD_NAME = #{prodName},
			PROD_DETAIL = #{prodDetail},
			PROD_PRICE = #{prodPrice}			
		</set> 
		WHERE PROD_NO = #{prodNo}
	</update> -->
	 
	<!-- 상품삭제 -->
	<!-- <delete id="deleteProduct" parameterType="int">
		DELETE
		FROM 
			product
		WHERE
			PROD_NO = #{prodNo}
	</delete> 
	 -->
</mapper>